<configuration>
	<section name="rg.modcaseinsensitive" type="RG.ModCaseInsensitive.Config,RG.ModCaseInsensitive" />
	<rg.modcaseinsensitive debug="true">
		<ignore>
			<add url="/FileStorage" />
			<add url="/Sensitive" />
		</ignore>
	</rg.modcaseinsensitive>	
	<system.web>
		<httpModules>
			<add name="ModCaseInsensitive" type="RG.ModCaseInsensitive.Module,RG.ModCaseInsensitive" />
		</httpModules>
	</system.web>
</configuration>
