<configuration>
	<configSections>
		<section name="mod_caseinsensitive" type="mod_caseinsensitive.Config,mod_caseinsensitive" />
	</configSections>
	<rg.modcaseinsensitive debug="true">
		<ignore>
			<add url="/FileStorage" />
			<add url="/Sensitive" />
		</ignore>
	</rg.modcaseinsensitive>	
	<system.web>
		<httpModules>
			<add name="mod_caseinsensitive" type="mod_caseinsensitive.Module,mod_caseinsensitive" />
		</httpModules>
	</system.web>
</configuration>
